@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3a4959;
  color: #dddddd;
  margin: 0;
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typed-cursor {
  font-size: x-large;
}