h1 {
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}

.Home {
  color: #d16ba5;
}

.Projects {
  color: #9a9ae1;
}

.Resume {
  color: #79b3f4;
}

.Contact {
  color: #5ffbf1;
}

.icons:hover,
button:hover,
.submit:hover,
.deploy:hover {
  background: linear-gradient(
    to right,
    #d16ba5,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec
  );
}

.github:hover {
  background: linear-gradient(
    to right,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.custom-border {
  --b: 20px;
  --t: 6px;
  --l: 110px;
  --g: linear-gradient(
    to bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  background: var(--g) 0 0 / var(--l) var(--t), var(--g) 0 0 / var(--t) var(--l),
    var(--g) 100% 100% / var(--l) var(--t),
    var(--g) 100% 100% / var(--t) var(--l), none;
  background-repeat: no-repeat;
  clip-path: polygon(
    0 0,
    calc(100% - var(--b)) 0,
    100% var(--b),
    100% 100%,
    var(--b) 100%,
    0 calc(100% - var(--b))
  );
  position: relative;
  padding: 2px;
}

@media (max-width: 1000px) {
  .custom-border-none {
    background: none;
  }
}

@media (min-width: 350px) {
  .c-bord {
    position: relative;
    border: none;
    padding: 5px;
  }
  .c-bord::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background: linear-gradient(
      to right,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    border-radius: 20px;
    z-index: -1;
  }
}

@media (max-width: 350px) {
  .display-none-xxs {
    display: none;
  }
  .no-bg-xxs {
    background: none;
  }
}
